---js
const eleventyNavigation = {
  key: "Archive",
  order: 2
};
---
<h1>Archive</h1>
<p class="subheading">Every post, chronologically. Search by title or tag.</p>

{% include "search.njk" %}

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
